In [1]:
import pandas as pd
import numpy as np
import math
import missingno as mn
import matplotlib.pyplot as plt

In [2]:
#want to check the nearest couple of tube stops as well as walking distance
#could just stick to primary for now and expand to top couple later

In [3]:
#read in the pubs dataset already processed with distance to their nearest tube line attached
#easiest thing is probably to start adding total travel time to nearest node point of a different line
#again can cover that later, for now just take the closest one
#orrrr just treat them as independant pubs and double the length of your data, it wouldn't add much processing time
%store -r pubswithdist
#read in the already calculated tube network travel time data set
%store -r data_tubetravel
data_stations = pd.read_csv("C:\\Users\\George\\Downloads\\MITM\\stations_csv.sv.csv")
#now grab the all important travel times
data_travel = pd.read_csv("C:\\Users\\George\\Downloads\\MITM\\travel_times.csv")

In [4]:
#need to assign every pub a nearest tube
#need to define a function for distance between coordinates
#use the haversine formula
#need the angle in radians

def coords_to_distance(x1,x2,y1,y2):
    x1 = x1 * math.pi / 180
    x2 = x2 * math.pi / 180
    y1 = y1 * math.pi / 180
    y2 = y2 * math.pi / 180
    dlat = x2 - x1
    dlon = y2 - y1
    a = (math.pow(math.sin(dlat/2),2)) + math.cos(x1) * math.cos(x2) * (math.pow(math.sin(dlon/2),2))
    c = 2 * math.atan2(math.sqrt(a),math.sqrt(1-a))
    d = c * 6373
    #this is in km
    return d

In [5]:
def find_second_station(previous_station):
    alreadycheckedlines= []
    for line in data_travel[data_travel['station1'] == previous_station].iterrows():
        #print(line)
        alreadycheckedlines.append(line[1]['line'])
        datatravel_temp = data_travel[~data_travel['line'].isin(alreadycheckedlines)]
        data_filtered = data_stations[data_stations['id'].isin(datatravel_temp['station1'])]
    return data_filtered

In [129]:
#find_second_station(120)

#data_stations.head(10)

In [6]:
def distance_to_pubs(input_lat,input_long,user_num,data_stations):
    min_distance = 1000
    closest_line_id = []
    closest_line = []
    for line in data_stations.itertuples():
        current_dist = coords_to_distance(getattr(line,'latitude'),input_lat,getattr(line,'longitude'),input_long)
        if current_dist < min_distance:
            min_distance = current_dist
            closest_line_id = getattr(line,'id')
            #closest_line = getattr(line, '')
    
    #this loop returns the closest tube station to the input coords
    #then the below works out the travel time to all the things from that
    
    x= 1
    person_travel = []
    tube_id = []
    tube_results = []
    for line in data_tubetravel[data_tubetravel['id'] == closest_line_id]['travel_times']:
        while x < len(data_stations):
            person_travel.append(line[x]['time']) 
            tube_id.append(x)
            x += 1

    person_travel = pd.DataFrame(person_travel)
    tube_id = pd.DataFrame(tube_id)
    individ_tube = pd.merge(tube_id,person_travel,left_index = True, right_index = True)
    individ_tube.columns = ['tube_id','travel_time_to_tube']
    

    full_travel = pd.merge(pubswithdist,individ_tube, how = 'left',left_on = '0_y',right_on = 'tube_id')
    min_distance_time = min_distance / 0.084
    full_travel['total time' + user_num] = full_travel['traveltime_totube_pub'] + full_travel['travel_time_to_tube'] + min_distance_time
    return full_travel,closest_line_id

In [7]:
#input_lat = 51.5020275
#input_long = -0.0267862
numberofpeople = 2
full_travel, previous_closest = distance_to_pubs(51.5020275,-0.0267862,'1',data_stations)
full_travel_testing,previous_closest = distance_to_pubs(51.5020275,-0.0267862,'1_2ndclosest',find_second_station(previous_closest))
full_travel_testing = pd.DataFrame(full_travel_testing['total time1_2ndclosest'])
testing = pd.merge(full_travel,full_travel_testing,left_index= True,right_index = True)

#forgot to take into account walking for tube2
    
#need to input closest tube id somehow

#landmark east
full_travel2,previous_closest = distance_to_pubs(51.4860931,-0.2587167,'2',data_stations)
full_travel2 = pd.DataFrame(full_travel2['total time2'])
#chiswick
#need to generalise this to extend to extra people

In [8]:
def minimise_total_travel(input_set):
#    while x < numberofpeople:
#        columns_to_sum.append('total time' + str(x)) 
    input_set['total'] = input_set['first and second'] + input_set['total time2']
    #input_set2 = input_set.copy()
    input_set = input_set.sort_values(['total'])
    return input_set.head(10)

In [9]:
count = 0
for line in testing:
    testing['first and second'][count] = min(testing['total time1'][count],testing['total time1_2ndclosest'][count])
    count += 1

KeyError: 'first and second'

In [144]:
actualfulltravel = pd.merge(testing,full_travel2,left_index = True, right_index =True)

In [146]:
minimise_total_travel(actualfulltravel)

,index,0_x,1,2,3,4,8,latitude,longitude,0_y,0,traveltime_totube_pub,tube_id,travel_time_to_tube,total time1,total time1_2ndclosest,first and second,total time2,total
2278,11340,120221,The Tabard,"""The Tabard, 2 Bath Road, Chiswick""",W4 1LW,521258,Hounslow,51.495693,-0.254641,264,0.066086,0.786735,264.0,45.0,50.458417,NaN,48.8425,13.164601,62.007101
1727,10789,111961,The Raven,"""375 Goldhawk Road, London""",W6 0SA,521948,Hammersmith and Fulham,51.494137,-0.244752,241,0.124638,1.483780,241.0,50.0,56.155462,NaN,48.8425,14.861646,63.704147
1631,10693,110478,Belushi's And St Christopher's,"""Hammersmith Broadway, London""",W6 7AB,523351,Hammersmith and Fulham,51.493303,-0.224573,110,0.049227,0.586033,110.0,43.0,48.257716,43.917819,48.8425,14.963900,63.806400
1737,10799,111979,The Swan,"""46 Hammersmith Broadway, London""",W6 0DZ,523315,Hammersmith and Fulham,51.493131,-0.225098,110,0.052167,0.621035,110.0,43.0,48.292718,43.952821,48.8425,14.998902,63.841402
1742,10804,111987,The William Morris,"""2 - 4 King Street, London""",W6 0QA,523275,Hammersmith and Fulham,51.493085,-0.225676,110,0.069804,0.830995,110.0,43.0,48.502677,44.162781,48.8425,15.208861,64.051362
1628,10690,110466,Be At One,"""14A Hammersmith Broadway, London""",W6 7AL,523408,Hammersmith and Fulham,51.493336,-0.223751,110,0.097927,1.165803,110.0,43.0,48.837485,44.497589,48.8425,15.543669,64.386170
1710,10772,111934,The Hop Poles,"""Hop Poles, 17 - 19 King Street, London""",W6 9HR,523278,Hammersmith and Fulham,51.492753,-0.225646,110,0.101516,1.208529,110.0,43.0,48.880211,44.540314,48.8425,15.586395,64.428895
2272,11334,120211,The Roebuck,"""The Roebuck, 122 Chiswick High Road, Chiswick""",W4 1PU,521401,Hounslow,51.493022,-0.252674,264,0.270386,3.218881,264.0,45.0,52.890563,NaN,48.8425,15.596747,64.439248
2268,11330,120202,The Packhorse and Talbot,"""The Pack Horse And Talbot, 145 Chiswick High ...",W4 2DT,521231,Hounslow,51.492493,-0.255144,264,0.291602,3.471450,264.0,45.0,53.143132,NaN,48.8425,15.849316,64.691817
1729,10791,111966,The Rooks Nest,"""The Egerton, 73 Dalling Road, London""",W6 0JD,522635,Hammersmith and Fulham,51.494069,-0.234857,208,0.073684,0.877191,208.0,49.0,54.548873,NaN,48.8425,16.255057,65.097557

,index,0_x,1,2,3,4,8,latitude,longitude,0_y,0,traveltime_totube_pub,tube_id,travel_time_to_tube,total time1
0,1875,17820,The Three Jolly Wheelers,"""735 Chigwell Road, Woodford Green, Chigwell, ...",IG8 8AS,542653,Redbridge,51.608869,0.058699,214,1.372238,1.633617e+01,NaN,NaN,NaN
1,8950,85383,Aria Bar,"""31 Longbridge Road, Barking""",IG11 8TN,544481,Barking and Dagenham,51.540240,0.081962,15,0.097452,1.160141e+00,15.0,23.0,30.491926
2,8951,85412,Barking Arms Ltd,"""25-27 Station Parade, Barking""",IG11 8TU,544404,Barking and Dagenham,51.539531,0.080819,15,0.014687,1.748431e-01,15.0,23.0,29.506629
3,8952,85420,Barking football Club,"""Barking Football Club, Lodge Avenue, Dagenham""",RM8 2JR,546614,Barking and Dagenham,51.545377,0.112960,268,1.106634,1.317422e+01,NaN,NaN,NaN
4,8953,85423,Barking Indoor Bowls Club Ltd,"""Indoor Bowls Hall, Barking Prk, Longbridge Ro...",IG11 8TA,544692,Barking and Dagenham,51.542225,0.085096,15,0.406872,4.843717e+00,15.0,23.0,34.175503
5,8954,85429,Barking Rugby Union Football Club,"""Gale Street, Dagenham""",RM9 4TX,547647,Barking and Dagenham,51.534920,0.127357,21,0.598926,7.130071e+00,21.0,27.0,40.461857
6,8955,85436,Barking United Services Club,"""79 Blake Avenue, Barking""",IG11 9SF,545650,Barking and Dagenham,51.533030,0.098489,268,0.640896,7.629717e+00,NaN,NaN,NaN
7,8956,85440,Beacon Tree,"""Beacon Tree, 945 Green Lane, Dagenham""",RM8 1DJ,548489,Barking and Dagenham,51.561457,0.140758,67,2.238250,2.664583e+01,67.0,30.0,62.977618
8,8957,85519,Chadwell Heath Cricket Club,"""St Chads Park, West Road, Chadwell Heath""",RM6 6YA,547980,Barking and Dagenham,51.575822,0.134086,173,3.054550,3.636369e+01,173.0,30.0,72.695480
9,8958,85589,Dagenham Bowling,"""Dagenham Leisure Park, Cook Road, Dagenham""",RM9 6UQ,548237,Barking and Dagenham,51.532573,0.135769,21,1.052035,1.252423e+01,21.0,27.0,45.856012
10,8959,85590,Dagenham Conservative & Social Club,"""8-12 Salisbury Road, Dagenham""",RM10 8TT,549853,Barking and Dagenham,51.540071,0.159424,66,0.630826,7.509835e+00,66.0,34.0,47.841621
11,8960,85599,Dagenham Trades Hall,"""Dagenham Trades Hall, Charlotte Road, Dagenham""",RM10 8TD,549728,Barking and Dagenham,51.541003,0.157666,66,0.654356,7.789947e+00,66.0,34.0,48.121733
12,8961,85611,Deuce Lounge,"""20-22 London Road, Barking""",IG11 8AG,544217,Barking and Dagenham,51.538258,0.078064,15,0.252071,3.000849e+00,15.0,23.0,32.332635
13,8962,85628,Eastbrook Hotel,"""Eastbrook Hotel, Dagenham Road, Dagenham""",RM10 7UP,550158,Barking and Dagenham,51.552425,0.164409,66,0.906888,1.079628e+01,66.0,34.0,51.128066
14,8963,85828,Kings Lounge,"""2 Linton Road, Barking""",IG11 8HG,544261,Barking and Dagenham,51.538948,0.078730,15,0.172981,2.059294e+00,15.0,23.0,31.391080
15,8964,85870,Lord Denman PH,"""Lord Denman Ph, 270-272 Heathway, Dagenham""",RM10 8QS,549064,Barking and Dagenham,51.541852,0.148130,67,0.086753,1.032776e+00,67.0,30.0,37.364562
16,8965,85921,ME 'N' O'Briens,"""26-28 Goresbrook Road, Dagenham""",RM9 6UR,549009,Barking and Dagenham,51.532252,0.146884,67,1.050900,1.251071e+01,67.0,30.0,48.842500
17,8966,85922,Mecca Bingo Club,"""Cook Road, Dagenham""",RM9 6UQ,548237,Barking and Dagenham,51.532573,0.135769,21,1.052035,1.252423e+01,21.0,27.0,45.856012
18,8967,86102,RoundHouse,"""The Roundhouse, Lodge Avenue, Dagenham""",RM8 2HY,546662,Barking and Dagenham,51.542741,0.113515,268,0.961755,1.144946e+01,NaN,NaN,NaN
19,8968,86104,Royal British Legion Club,"""541 Becontree Avenue, Dagenham""",RM8 3JP,548209,Barking and Dagenham,51.559221,0.136613,67,2.074678,2.469854e+01,67.0,30.0,61.030329
20,8969,86105,Royal British Legion Dagenham Club,"""Rectory Road, Dagenham""",RM10 9SA,549487,Barking and Dagenham,51.539099,0.154100,67,0.576025,6.857442e+00,67.0,30.0,43.189228
21,8970,86131,Scrattons Community Association Ltd,"""Scrattons Community Association Ltd, Morrison...",IG11 0UA,548021,Barking and Dagenham,51.530436,0.132554,21,1.162519,1.383951e+01,21.0,27.0,47.171295
22,8971,86233,Thatched House,"""The Thatched House Ph, Ripple Road, Barking""",IG11 9PG,546139,Barking and Dagenham,51.533425,0.105558,268,0.633570,7.542504e+00,NaN,NaN,NaN
23,8972,86234,The Admiral Vernon,"""141 Broad Street, Dagenham""",RM10 9HP,549269,Barking and Dagenham,51.536587,0.150838,67,0.630607,7.507222e+00,67.0,30.0,43.839007
24,8973,86235,The Avenues Social Club Limited,"""231 Dagenham Road, Rush Green""",RM7 0TH,550877,Barking and Dagenham,51.563231,0.175296,85,2.167802,2.580717e+01,85.0,37.0,69.138951
25,8974,86236,The Barking Dog,"""The Barking Dog Ph, 61 Station Parade, Barking""",IG11 8TU,544404,Barking and Dagenham,51.539531,0.080819,15,0.014687,1.748431e-01,15.0,23.0,29.506629
26,8975,86239,The Bowl Bar (City Pavilion),"""Collier Row Road, Romford""",RM5 2BH,548842,Barking and Dagenham,51.595516,0.147456,109,3.833189,4.563321e+01,109.0,36.0,87.964994
27,8976,86242,The Cedars Club,"""Cedars Club, Mill Lane, Chadwell Heath""",RM6 6TT,548119,Barking and Dagenham,51.572857,0.135954,173,3.198270,3.807464e+01,173.0,30.0,74.406427
28,8977,86244,The Cherry Tree Ph,"""Wood Lane, Dagenham""",RM8 3LJ,548088,Barking and Dagenham,51.552649,0.134560,21,1.469754,1.749707e+01,21.0,27.0,50.828860
29,8978,86248,The Club,"""The Club, 121 Broad Street, Dagenham""",RM10 9HP,549269,Barking and Dagenham,51.536587,0.150838,67,0.630607,7.507222e+00,67.0,30.0,43.839007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3706,12992,146288,The Ramble Inn,"""223 Mitcham Road, London""",SW17 9JG,528019,Wandsworth,51.422420,-0.160179,257,0.783271,9.324658e+00,NaN,NaN,NaN
3707,12993,146289,The Regent,"""21 Chestnut Grove, London""",SW12 8JB,528350,Wandsworth,51.444444,-0.154531,12,0.205363,2.444798e+00,12.0,29.0,37.776584
3708,12994,146291,The River Bar,"""Unit 29, 29 Circus West, London""",SW11 8EZ,622675,Wandsworth,NaN,NaN,0,100000.000000,1.190476e+06,NaN,NaN,NaN
3709,12995,146292,The Roundhouse,"""2 North Side Wandsworth Common, London""",SW18 2SS,526911,Wandsworth,51.458914,-0.174662,56,1.972957,2.348759e+01,56.0,27.0,56.819371
3710,12996,146293,The Royal Standard,"""The Tonsley Tup, 1 Ballantine Street, London""",SW18 1AL,526075,Wandsworth,51.460395,-0.186638,80,1.713907,2.040365e+01,80.0,46.0,72.735440
3711,12997,146298,The Secret Bar,"""Unit 40 Broadway Market, Tooting High Street,...",SW17 0RJ,527563,Wandsworth,51.428742,-0.166485,257,0.173562,2.066217e+00,NaN,NaN,NaN
3712,12998,146300,The Selkirk,"""60 Selkirk Road, London""",SW17 0ES,527456,Wandsworth,51.429826,-0.167981,257,0.258724,3.080047e+00,NaN,NaN,NaN
3713,12999,146301,The Ship Inn,"""41 Jews Row, London""",SW18 1TB,525975,Wandsworth,51.462564,-0.187991,204,1.578689,1.879392e+01,NaN,NaN,NaN
3714,13000,146303,The Spotted Horse,"""120-122 Putney High Street, London""",SW15 1RG,524001,Wandsworth,51.462748,-0.216401,80,0.585482,6.970025e+00,80.0,46.0,59.301810
3715,13001,146306,The Tapas Room Ltd,"""Unit 3-5, Broadway Market, Tooting High Stree...",SW17 0RJ,527566,Wandsworth,51.428158,-0.166466,257,0.129130,1.537263e+00,NaN,NaN,NaN
3716,13002,146307,The Telegraph PH,"""Telegraph Road, London""",SW15 3TU,523341,Wandsworth,51.448791,-0.226444,230,1.426408,1.698105e+01,NaN,NaN,NaN
3717,13003,146310,The Trafalgar Arms,"""148-156 Tooting High Street, London""",SW17 0RT,527229,Wandsworth,51.424745,-0.171449,257,0.388745,4.627915e+00,NaN,NaN,NaN
3718,13004,146312,The Union Arms,"""109 Battersea Bridge Road, London""",SW11 3AT,527298,Wandsworth,51.477061,-0.168365,96,1.882134,2.240635e+01,96.0,39.0,67.738139
3719,13005,146313,The Victoria,"""166 Queenstown Road, London""",SW8 3QH,528711,Wandsworth,51.472760,-0.148191,54,1.395145,1.660887e+01,54.0,25.0,47.940658
3720,13006,146318,The Waterfront,"""Unit C Public House, Baltimore House, Juniper...",SW18 1TS,526146,Wandsworth,51.464270,-0.185462,194,1.636835,1.948613e+01,NaN,NaN,NaN
3721,13007,146319,The Wheatsheaf,"""The Wheatsheaf, 2 Upper Tooting Road, London""",SW17 7PG,527934,Wandsworth,51.435309,-0.160885,256,0.115763,1.378132e+00,NaN,NaN,NaN
3722,13008,146321,The Winchester House Club,"""10 Lower Richmond Road, London""",SW15 1JN,523930,Wandsworth,51.467258,-0.217248,204,0.587856,6.998288e+00,NaN,NaN,NaN
3723,13009,146324,The Woodman,60 Battersea High Street,SW11 3HX,526925,Wandsworth,51.473577,-0.173876,96,1.648494,1.962493e+01,96.0,39.0,64.956712
3724,13010,146336,Tir na nog,"""107 Garratt Lane, London""",SW18 4DW,525794,Wandsworth,51.452611,-0.191004,230,1.346153,1.602563e+01,NaN,NaN,NaN
3725,13011,146349,Tooting Conservative & Unionist Club,"""12 Ashvale Road, London""",SW17 8PW,527655,Wandsworth,51.427795,-0.165200,257,0.196939,2.344507e+00,NaN,NaN,NaN
3726,13012,146359,Tooting Progressive Working,"""227 Mitcham Road, London""",SW17 9JG,528019,Wandsworth,51.422420,-0.160180,257,0.783223,9.324086e+00,NaN,NaN,NaN
3727,13013,146361,Tooting Tram and Social,"""46-48 Mitcham Road, London""",SW17 9NA,527547,Wandsworth,51.426840,-0.166792,257,0.111391,1.326089e+00,NaN,NaN,NaN
3728,13014,146397,United Services Club Ltd,"""268 Balham High Road, London""",SW17 7AJ,528208,Wandsworth,51.438716,-0.156806,256,0.357441,4.255245e+00,NaN,NaN,NaN
3729,13015,146409,Vesta Rowing Club,"""Embankment, London""",SW15 1LB,523698,Wandsworth,51.469528,-0.220500,204,0.817219,9.728793e+00,NaN,NaN,NaN
3730,13016,146415,Virgin Active,"""Smugglers Way, London""",SW18 1DG,525915,Wandsworth,51.463234,-0.188829,204,1.496479,1.781523e+01,NaN,NaN,NaN
3731,13017,146423,Wagamama,"""50-54 Putney High Street, London""",SW15 1SQ,524093,Wandsworth,51.465047,-0.214988,204,0.548596,6.530905e+00,NaN,NaN,NaN
3732,13018,146435,Wandle Pub,"""332 Garratt Lane, London""",SW18 4EJ,525885,Wandsworth,51.443613,-0.190037,230,1.165331,1.387299e+01,NaN,NaN,NaN
3733,13068,147368,Chippenham Public House,"""207 Shirland Road, London""",W9 2EX,525181,Brent,51.527798,-0.196849,282,0.811355,9.658986e+00,NaN,NaN,NaN
3734,13301,150451,The Old Bank Of England,"""194 Fleet Street, London""",EC4A 2LT,531141,City of London,51.513973,-0.111498,254,0.366829,4.367011e+00,NaN,NaN,NaN
3735,26213,271679,Netherne Community Amateur Sports Club,"""Woodplace Lane, Hooley, Surrey""",CR5 1NB,529495,Croydon,51.304374,-0.143729,169,11.444894,1.362487e+02,169.0,40.0,182.580519

In [11]:
person_travel

NameError: name 'person_travel' is not defined