In [2]:
############################           PUBS AND TUBES          ############################


#this is version 1 of the pubs and tubes script


import pandas as pd
import numpy as np
import math
import missingno as mn
import matplotlib.pyplot as plt
import seaborn as sn
import pickle


#read in the pubs dataset already processed with distance to their nearest tube line attached
#easiest thing is probably to start adding total travel time to nearest node point of a different line
#again can cover that later, for now just take the closest one
#orrrr just treat them as independant pubs and double the length of your data, it wouldn't add much processing time

#jupyter commands dont work in actual scripts

pubswithdist = pd.read_csv('C:\\Users\\George\\Downloads\\MITM\\pubswithdist.csv',index_col=0)
#read in the already calculated tube network travel time data set

#data_tubetravel = pd.read_csv('C:\\Users\\George\\Downloads\\MITM\\data_tubetravel.csv',index_col=0)

with open('C:\\Users\\George\\Downloads\\MITM\\.pickle','rb') as f:
    data_tubetravel = pickle.load(f,encoding="utf8")


data_stations = pd.read_csv("C:\\Users\\George\\Downloads\\MITM\\stations_csv.sv.csv")
#now grab the all important travel times
data_travel = pd.read_csv("C:\\Users\\George\\Downloads\\MITM\\travel_times.csv")


#need to assign every pub a nearest tube
#need to define a function for distance between coordinates
#use the haversine formula
#need the angle in radians

def coords_to_distance(x1,x2,y1,y2):
    x1 = x1 * math.pi / 180
    x2 = x2 * math.pi / 180
    y1 = y1 * math.pi / 180
    y2 = y2 * math.pi / 180
    dlat = x2 - x1
    dlon = y2 - y1
    a = (math.pow(math.sin(dlat/2),2)) + math.cos(x1) * math.cos(x2) * (math.pow(math.sin(dlon/2),2))
    c = 2 * math.atan2(math.sqrt(a),math.sqrt(1-a))
    d = c * 6373
    #this is in km
    return d

def find_second_station(previous_station):
    alreadycheckedlines= []
    for line in data_travel[data_travel['station1'] == previous_station].iterrows():
        #print(line)
        alreadycheckedlines.append(line[1]['line'])
        datatravel_temp = data_travel[~data_travel['line'].isin(alreadycheckedlines)]
        data_filtered = data_stations[data_stations['id'].isin(datatravel_temp['station1'])]
    return data_filtered


#need this to be self contained, and output an identifiable dataset ready for further processing
def distance_to_pubs(input_lat,input_long,user_num,data_stations):
    min_distance = 1000
    closest_tube_id = []
    closest_tube = []
    for tube in data_stations.itertuples():
        #get distance between input coords and all tubes
        current_dist = coords_to_distance(getattr(tube,'latitude'),input_lat,getattr(tube,'longitude'),input_long)
        if current_dist < min_distance:
            min_distance = current_dist
            closest_tube_id = getattr(tube,'id')
            #closest_line = getattr(line, '')
            #this will return the closest tube station id to the input coords
            #could potentially be optimised further but not worth it because of how quick it currently is
            
    #this loop returns the closest tube station to the input coords
    #then the below works out the travel time to all the things from that
    #data tubetravel contains travel time from each tube station to every other tube station
    #so just filter to the nearest tube station and check time to the rest of the network
    #need to check each line as well
    
    x= 1
    person_travel = []
    tube_id = []
    tube_results = []
    for line in data_tubetravel[data_tubetravel['id'] == closest_tube_id]['travel_times']:
        while x < len(data_stations):
            person_travel.append(line[x]['time']) 
            tube_id.append(x)
            x += 1

    #the above returns the travel time to all stations from the nearest station
    user_num = str(user_num)    
    person_travel = pd.DataFrame(person_travel)
    tube_id = pd.DataFrame(tube_id)
    individ_tube = pd.merge(tube_id,person_travel,left_index = True, right_index = True)
    individ_tube.columns = ['tube_id','travel_time_to_tube'+user_num]
    
    
    full_travel = pd.merge(pubs_with_dist_filt,individ_tube, how = 'left',left_on = '0_y',right_on = 'tube_id')
    min_distance_time = min_distance / 0.084
    full_travel['total time' + user_num] = full_travel['traveltime_totube_pub'] + full_travel['travel_time_to_tube'+str(user_num)] + min_distance_time
    return full_travel,closest_tube_id




#could be worth filtering pubs with dist to only a couple of columns so that it's neater?
pubs_with_dist_filt = pubswithdist[['0_y','index','traveltime_totube_pub']]
numpeeps = 2
i = 1
while i <= numpeeps:
    full_travel_i_1, i_closest_tube_id = distance_to_pubs(51.5020275,-0.0267862,i,data_stations)
    full_travel_i_2, i_second_closest_tube = distance_to_pubs(51.5020275,-0.0267862,i,find_second_station(i_closest_tube_id))
    full_travel_i = pd.merge(full_travel_i_1,full_travel_i_2, left_index=True,right_index=True)
    #full_travel_i['True_shortest' + str(i)] = min(full_travel_i['total time' + str(i) + '_x'], full_travel_i['total time' + str(i) + '_y'])
    full_travel_i['true_shortest' + str(i)] = full_travel_i[['total time' + str(i) + '_x', 'total time' + str(i) + '_y']].min(axis=1)
    name = str(i)
    full_travel_i_final = full_travel_i[['true_shortest' + name]]
    if i > 1:
        full_current = pd.merge(full_travel_i_final,full_current,left_index=True,right_index=True)
    else:
        full_current = full_travel_i_final
    i += 1
#test_fulltravel,test_closest_tube_id = distance_to_pubs(51.5020275,-0.0267862,2,data_stations)
#this works fine, worth in your loop goingn twice for each person and checking the other nearest tube
#then combine those datasets, take only the shortest travel time to each pub and move on
#ok so once that works what needs to happen?

cols_to_use = ['true_shortest' + str(p+1) for p in range(numpeeps)]
#full_current['Total'] = full_current.loc[:, cols_to_use].sum(axis=1)
full_current['Total'] = full_current[cols_to_use].sum(axis =1 )
full_current = pd.merge(full_current,pubswithdist,left_index= True,right_index=True)
full_current = full_current[full_current['Total'] != 0]

In [11]:
finalfinal = full_current.sort_values('Total')
#finalfinal2 = pd.DataFrame(finalfinal)
#finalfinal_top = finalfinal.head(10)
#finalfinal_top = pd.DataFrame(finalfinal_top)
#finalfinal_top = finalfinal_top[['Total',2,8]]
print(finalfinal)

      true_shortest2  true_shortest1       Total  index     0_x  \
3314        7.386873        7.386873   14.773745  12600  140031
3393        7.386873        7.386873   14.773745  12679  141942
3376        7.558988        7.558988   15.117976  12662  141471
3426        7.575081        7.575081   15.150163  12712  142252
3455        7.612257        7.612257   15.224515  12741  142340
3415        7.613817        7.613817   15.227634  12701  142226
3339        7.613817        7.613817   15.227634  12625  140591
3444        7.613817        7.613817   15.227634  12730  142300
3452        9.534042        9.534042   19.068083  12738  142332
3417       10.664390       10.664390   21.328781  12703  142231
3378       11.592368       11.592368   23.184737  12664  141583
3428       11.728108       11.728108   23.456216  12714  142271
3461       12.999069       12.999069   25.998139  12747  142376
3470       13.002284       13.002284   26.004569  12756  142512
3407       13.002284       13.002284   26.004569  12693  142207
3215       13.397430       13.397430   26.794859  12501  138782
3410       13.738135       13.738135   27.476271  12696  142211
3464       14.018667       14.018667   28.037334  12750  142428
3384       14.266420       14.266420   28.532839  12670  141718
3357       14.390910       14.390910   28.781820  12643  140925
3441       14.492473       14.492473   28.984947  12727  142295
3414       14.507898       14.507898   29.015796  12700  142225
3380       14.508608       14.508608   29.017216  12666  141652
3434       14.585820       14.585820   29.171639  12720  142281
3432       14.606394       14.606394   29.212788  12718  142279
3422       14.629365       14.629365   29.258729  12708  142242
3394       14.758043       14.758043   29.516086  12680  142015
3472       14.925690       14.925690   29.851379  12758  142518
3451       15.098159       15.098159   30.196319  12737  142331
3175       15.116189       15.116189   30.232378  12461  138500
...              ...             ...         ...    ...     ...
416       178.667909      178.667909  357.335817   9365   92206
437       179.851257      179.851257  359.702514   9386   92527
546       179.851257      179.851257  359.702514   9495   93893
408       180.228990      180.228990  360.457981   9357   92109
1105      180.612070      180.612070  361.224140  10054  101216
463       181.132552      181.132552  362.265104   9412   93144
3735      182.580519      182.580519  365.161037  26213  271679
518       186.899948      186.899948  373.799895   9467   93804
555       188.274825      188.274825  376.549650   9504   94008
526       189.102579      189.102579  378.205157   9475   93818
558       194.610726      194.610726  389.221452   9507   94015
487       194.681506      194.681506  389.363011   9436   93385
496       196.688276      196.688276  393.376552   9445   93460
418       197.287298      197.287298  394.574596   9367   92221
521       197.890291      197.890291  395.780582   9470   93811
535       199.151561      199.151561  398.303122   9484   93851
448       199.186827      199.186827  398.373654   9397   92699
486       202.534571      202.534571  405.069143   9435   93384
441       203.069785      203.069785  406.139569   9390   92586
556       203.118817      203.118817  406.237635   9505   94013
439       208.110268      208.110268  416.220536   9388   92552
413       218.781381      218.781381  437.562762   9362   92132
516       220.265124      220.265124  440.530249   9465   93798
539       229.811579      229.811579  459.623159   9488   93868
419       229.811579      229.811579  459.623159   9368   92224
529       229.985913      229.985913  459.971825   9478   93827
397       230.798935      230.798935  461.597869   9346   92023
400       231.602893      231.602893  463.205786   9349   92028
395       232.586895      232.586895  465.173791   9344   92012
511       246.550830      246.550830  493.101660   9460   93788

                                                      1  \
3314                                        All Bar One
3393                                   Slug and Lettuce
3376                                            Nicolas
3426                                The Henry Addington
3455                                   The Tea Merchant
3415                                      The Fine Line
3339                              Davys At Canary Wharf
3444                                     The Pagination
3452                                   The Sipping Room
3417                                         The George
3378                                Pepper Saint Ontiod
3428                                The Ledger Building
3461                                         Tooke Arms
3470                                         White Swan
3407                        The Craft Beer Co Limehouse
3215                                      The gregorian
3410                                          The Crown
3464                                          Urban Bar
3384                                        Queens Head
3357                                      Hope & Anchor
3441                                       The Old Ship
3414                                    The Ferry House
3380             Poplar Blackwall & District Rowing Bar
3434                                     The Manor Arms
3432                                    The Lord Nelson
3422                            The Greenwich Pensioner
3394                                   Star of the East
3472                                         Widows Son
3451                                           The Ship
3175                             St james of bermondsey
...                                                 ...
416                                    Change Of Horses
437                             Farnborough Sports Club
546                                         The Woodman
408                         Bromley Indoor Bowls Centre
1105                                   The Village Club
463                  Naturist Foundation - Tea Pot Cafe
3735             Netherne Community Amateur Sports Club
518                                            The Buff
555                                 Warbank Social Club
526                                       The Crown Inn
558   Westcombe Park Rugby Football Club - Club Cate...
487                                         Queens Head
496                                 Royal Oak Beefeater
418                        Chelsfield Lakes Golf Centre
521                                      The Chelsfield
535                                      The Kings Arms
448                                 High Elms Golf Club
486                                         Queens Head
441                                   George And Dragon
556            West Kent Golf Club - Executive Catering
439                                          Five Bells
413                                          Bulls Head
516                                         The Bo Peep
539                                        The Old Jail
419       Cherry Lodge Golf Club - Four Seasons Cuisine
529                                  The Flying Machine
397                                         Black Horse
400                                    Blacksmiths Arms
395                  Biggin Hill Social And Sports Club
511                                   The Aperfield Inn

                                                      2         3       4  \
3314           "All Bar One, 42 Mackenzie Walk, London"   E14 5EH  537481
3393                      "30a South Colonnade, London"   E14 5EZ  537481
3376              "Unit RP480, 1 Canada Square, London"   E14 5AX  537557
3426    "Henry Addington, 22-28 Mackenzie Walk, London"   E14 4PH  537373
3455                    "25-27 Fishermans Walk, London"   E14 4DH  537394
3415                    "29-30 Fishermans Walk, London"   E14 4DH  537394
3339                    "31-35 Fishermans Walk, London"   E14 4DH  537394
3444                           "9 Cabot Square, London"   E14 4EB  537394
3452                        "16 Hertsmere Road, London"   E14 4EF  537418
3417                  "114-114a Glengall Grove, London"   E14 3ND  538101
3378                         "21 Pepper Street, London"   E14 9RP  537691
3428        "Ledger Building, 4 Hertsmere Road, London"   E14 4AL  537241
3461  "Tooke Arms Public House, 165 Westferry Road, ...   E14 8NH  537153
3470          "White Swan, 556 Commercial Road, London"   E14 7JD  536092
3407                  "576-578 Commercial Road, London"   E14 7JD  536092
3215      "The Gregorian, 94a-96, Jamaica Road, London"  SE16 4SQ  534334
3410  "The Crown Public House, 667 Commercial Road, ...   E14 7LW  536233
3464                     "27 Three Colt Street, London"   E14 8HH  536820
3384  "Queens Head Public House, 8 Flamborough Stree...   E14 7LS  536181
3357                           "14 Newby Place, London"   E14 0EY  538066
3441  "The Old Ship Public House, 17 Barnes Street, ...   E14 7NW  536110
3414  "Ferry House Public House, 26 Ferry Street, Lo...   E14 3DT  538104
3380                             "Ferry Street, London"   E14 3DT  538104
3434                 "150 East India Dock Road, London"   E14 0BP  537796
3432  "Lord Nelson Public House, 1-1a Manchester Roa...   E14 3BD  538100
3422  "The Greenwich Pensioner, 28 Bazely Street, Lo...   E14 0ES  538150
3394                     "805a Commercial Road, London"   E14 7HG  536865
3472                           "75 Devons Road, London"    E3 3PJ  537602
3451                       "290 Westferry Road, London"   E14 3AG  537662
3175                       "72, St Jamess Road, London"  SE16 4QZ  534347
...                                                 ...       ...     ...
416            "87 High Street, Farnborough, Orpington"   BR6 7BB  544058
437   "Farrow Fields, High Street, Farnborough, Orpi...   BR6 7BA  544216
546            "50 High Street, Farnborough, Orpington"   BR6 7BA  544216
408                           "Bodmin Close, Orpington"   BR5 4LX  547105
1105                "151 Addington Road, South Croydon"   CR2 8LH  535130
463           "Brockenhurst, Sheepcote Lane, Orpington"   BR5 4ET  548735
3735                   "Woodplace Lane, Hooley, Surrey"   CR5 1NB  529495
518                         "Pinewood Drive, Orpington"   BR6 9NL  545380
555                         "Warbank Crescent, Croydon"   CR0 0AY  539246
526                         "Leaves Green Road, Keston"   BR2 6DQ  541598
558   "Orpington Sports Club, Goddington Lane, Orpin...   BR6 9SX  547317
487   "The Queens Head, 73 High Street, Green Street...   BR6 6BQ  545577
496   "Royal Oak, 72 High Street, Green Street Green...   BR6 6BJ  545602
418                             "Court Road, Orpington"   BR6 9BX  547397
521                        "1 Windsor Drive, Orpington"   BR6 6EY  546687
535                         "Leaves Green Road, Keston"   BR2 6DU  541402
448   "High Elms Golf Course Club House, High Elms R...   BR6 7JL  543921
486                  "25 High Street, Downe, Orpington"   BR6 7US  543165
441                  "26 High Street, Downe, Orpington"   BR6 7UT  543156
556   "West Kent Golf Club, Milking Lane, Downe, Orp...   BR6 7LD  542257
439                "Church Road, Chelsfield, Orpington"   BR6 7RE  548233
413                          "Rushmore Hill, Orpington"   BR6 7NQ  547188
516              "The Bo-Peep, Hewitts Road, Orpington"   BR6 7QL  548946
539                            "Jail Lane, Biggin Hill"  TN16 3AX  543125
419    "Cherry Lodge Golf Club, Jail Lane, Biggin Hill"  TN16 3AX  543125
529                           "Kings Road, Biggin Hill"  TN16 3XY  541318
397       "The Black Horse, 123 Main Road, Biggin Hill"  TN16 3AY  541885
400              "Cudham Lane South, Cudham, Sevenoaks"  TN14 7QB  544631
395                  "138 - 140 Main Road, Biggin Hill"  TN16 3BA  541978
511                        "311 Main Road, Biggin Hill"  TN16 2HN  543143

             5          6          7              8   latitude  longitude  \
3314  180236.0  51.504335  -0.020542  Tower Hamlets  51.504335  -0.020542
3393  180236.0  51.504335  -0.020542  Tower Hamlets  51.504335  -0.020542
3376  180305.0  51.504938  -0.019434  Tower Hamlets  51.504938  -0.019434
3426  180253.0  51.504523   -0.02209  Tower Hamlets  51.504523  -0.022090
3455  180409.0  51.505919  -0.021726  Tower Hamlets  51.505919  -0.021726
3415  180409.0   51.50592  -0.021727  Tower Hamlets  51.505920  -0.021727
3339  180409.0   51.50592  -0.021727  Tower Hamlets  51.505920  -0.021727
3444  180409.0   51.50592  -0.021727  Tower Hamlets  51.505920  -0.021727
3452  180544.0  51.507118  -0.021329  Tower Hamlets  51.507118  -0.021329
3417  179294.0  51.495719  -0.011983  Tower Hamlets  51.495719  -0.011983
3378  179329.0  51.496142  -0.017871  Tower Hamlets  51.496142  -0.017871
3428  180599.0  51.507655  -0.023856  Tower Hamlets  51.507655  -0.023856
3461  179533.0  51.498097  -0.025537  Tower Hamlets  51.498097  -0.025537
3470  181122.0  51.512642    -0.0402  Tower Hamlets  51.512642  -0.040200
3407  181122.0  51.512642    -0.0402  Tower Hamlets  51.512642  -0.040200
3215  179406.0  51.497641  -0.066171      Southwark  51.497641  -0.066171
3410  181151.0  51.512868  -0.038158  Tower Hamlets  51.512868  -0.038158
3464  180981.0  51.511199   -0.02977  Tower Hamlets  51.511199  -0.029770
3384  181241.0  51.513689  -0.038872  Tower Hamlets  51.513689  -0.038872
3357  180805.0  51.509305  -0.011896  Tower Hamlets  51.509305  -0.011896
3441  181265.0  51.513922  -0.039886  Tower Hamlets  51.513922  -0.039886
3414  178321.0  51.486983  -0.012319  Tower Hamlets  51.486983  -0.012319
3380  178321.0  51.486984   -0.01232  Tower Hamlets  51.486984  -0.012320
3434  180973.0   51.51089  -0.015718  Tower Hamlets  51.510890  -0.015718
3432  178380.0  51.487506  -0.012354  Tower Hamlets  51.487506  -0.012354
3422  180856.0  51.509752  -0.010665  Tower Hamlets  51.509752  -0.010665
3394  181109.0  51.512338  -0.029073  Tower Hamlets  51.512338  -0.029073
3472  182234.0  51.522268  -0.018019  Tower Hamlets  51.522268  -0.018019
3451  178430.0  51.488071  -0.018639  Tower Hamlets  51.488071  -0.018639
3175  179164.0  51.495455  -0.066077      Southwark  51.495455  -0.066077
...        ...        ...        ...            ...        ...        ...
416   164303.0  51.359538   0.067682        Bromley  51.359538   0.067682
437   164273.0  51.359229   0.069937        Bromley  51.359229   0.069937
546   164273.0  51.359229   0.069937        Bromley  51.359229   0.069937
408   166288.0  51.376585   0.112234        Bromley  51.376585   0.112234
1105  162387.0  51.344511  -0.061199        Croydon  51.344511  -0.061199
463   167991.0  51.391472   0.136349        Bromley  51.391472   0.136349
3735  157775.0  51.304374  -0.143729        Croydon  51.304374  -0.143729
518   164260.0  51.358806   0.086638        Bromley  51.358806   0.086638
555   162091.0   51.34086  -0.002251        Croydon  51.340860  -0.002251
526   162429.0  51.343307   0.031628        Bromley  51.343307   0.031628
558   164863.0  51.363726   0.114687        Bromley  51.363726   0.114687
487   163612.0  51.352942   0.089201        Bromley  51.352942   0.089201
496   163430.0    51.3513   0.089485        Bromley  51.351300   0.089485
418   164637.0  51.361675   0.115742        Bromley  51.361675   0.115742
521   164024.0  51.356359   0.105285        Bromley  51.356359   0.105285
535   161511.0  51.335107   0.028452        Bromley  51.335107   0.028452
448   162333.0  51.341871   0.064919        Bromley  51.341871   0.064919
486   161733.0   51.33667   0.053832        Bromley  51.336670   0.053832
441   161682.0  51.336214   0.053682        Bromley  51.336214   0.053682
556   161389.0  51.333797   0.040668        Bromley  51.333797   0.040668
439   164150.0   51.35709   0.127539        Bromley  51.357090   0.127539
413   162236.0  51.340155   0.111736        Bromley  51.340155   0.111736
516   163415.0    51.3503   0.137464        Bromley  51.350300   0.137464
539   159305.0  51.314871   0.052284        Bromley  51.314871   0.052284
419   159305.0  51.314871   0.052284        Bromley  51.314871   0.052284
529   158845.0   51.31118   0.026191        Bromley  51.311180   0.026191
397   158893.0   51.31147   0.034339        Bromley  51.311470   0.034339
400   159677.0  51.317833   0.074029        Bromley  51.317833   0.074029
395   158759.0  51.310252    0.03562        Bromley  51.310252   0.035620
511   157846.0  51.301747   0.051957        Bromley  51.301747   0.051957

      0_y          0  traveltime_totube  traveltime_totube_pub
3314   42   0.088627           1.055087               1.055087
3393   42   0.088627           1.055087               1.055087
3376   42   0.103085           1.227202               1.227202
3426   42   0.104437           1.243296               1.243296
3455   42   0.107560           1.280472               1.280472
3415   42   0.107691           1.282032               1.282032
3339   42   0.107691           1.282032               1.282032
3444   42   0.107691           1.282032               1.282032
3452  291   0.072438           0.862359               0.862359
3417   61   0.167387           1.992708               1.992708
3378   61   0.245338           2.920686               2.920686
3428  291   0.256740           3.056426               3.056426
3461  237   0.531501           6.327387               6.327387
3470  155   0.056322           0.670499               0.670499
3407  155   0.056322           0.670499               0.670499
3215   23   0.173514           2.065644               2.065644
3410  155   0.118133           1.406350               1.406350
3464  283   0.281147           3.346985               3.346985
3384  155   0.162509           1.934634               1.934634
3357    4   0.172966           2.059124               2.059124
3441  155   0.181498           2.160688               2.160688
3414  135   0.154242           1.836216               1.836216
3380  135   0.154302           1.836926               1.836926
3434    4   0.189339           2.254034               2.254034
3432  135   0.162516           1.934712               1.934712
3422    4   0.192997           2.297579               2.297579
3394  283   0.343254           4.086361               4.086361
3472   70   0.049888           0.593904               0.593904
3451  171   0.371824           4.426477               4.426477
3175   23   0.317890           3.784403               3.784403
...   ...        ...                ...                    ...
416   152  13.103683         155.996226             155.996226
437   152  13.203084         157.179575             157.179575
546   152  13.203084         157.179575             157.179575
408   152  13.234814         157.557308             157.557308
1105  169  11.279544         134.280284             134.280284
463   152  13.310713         158.460870             158.460870
3735  169  11.444894         136.248733             136.248733
518   152  13.795174         164.228265             164.228265
555   152  13.910664         165.603143             165.603143
526   152  13.980195         166.430896             166.430896
558   152  14.442880         171.939044             171.939044
487   152  14.448825         172.009823             172.009823
496   152  14.617394         174.016594             174.016594
418   152  14.667712         174.615616             174.615616
521   152  14.718363         175.218609             175.218609
535   152  14.824310         176.479879             176.479879
448   152  14.827272         176.515145             176.515145
486   152  15.108483         179.862889             179.862889
441   152  15.153441         180.398102             180.398102
556   152  15.157559         180.447135             180.447135
439   152  15.576841         185.438586             185.438586

In [20]:
finalfinal[['1']]

                                                      1
3314                                        All Bar One
3393                                   Slug and Lettuce
3376                                            Nicolas
3426                                The Henry Addington
3455                                   The Tea Merchant
3415                                      The Fine Line
3339                              Davys At Canary Wharf
3444                                     The Pagination
3452                                   The Sipping Room
3417                                         The George
3378                                Pepper Saint Ontiod
3428                                The Ledger Building
3461                                         Tooke Arms
3470                                         White Swan
3407                        The Craft Beer Co Limehouse
3215                                      The gregorian
3410                                          The Crown
3464                                          Urban Bar
3384                                        Queens Head
3357                                      Hope & Anchor
3441                                       The Old Ship
3414                                    The Ferry House
3380             Poplar Blackwall & District Rowing Bar
3434                                     The Manor Arms
3432                                    The Lord Nelson
3422                            The Greenwich Pensioner
3394                                   Star of the East
3472                                         Widows Son
3451                                           The Ship
3175                             St james of bermondsey
...                                                 ...
416                                    Change Of Horses
437                             Farnborough Sports Club
546                                         The Woodman
408                         Bromley Indoor Bowls Centre
1105                                   The Village Club
463                  Naturist Foundation - Tea Pot Cafe
3735             Netherne Community Amateur Sports Club
518                                            The Buff
555                                 Warbank Social Club
526                                       The Crown Inn
558   Westcombe Park Rugby Football Club - Club Cate...
487                                         Queens Head
496                                 Royal Oak Beefeater
418                        Chelsfield Lakes Golf Centre
521                                      The Chelsfield
535                                      The Kings Arms
448                                 High Elms Golf Club
486                                         Queens Head
441                                   George And Dragon
556            West Kent Golf Club - Executive Catering
439                                          Five Bells
413                                          Bulls Head
516                                         The Bo Peep
539                                        The Old Jail
419       Cherry Lodge Golf Club - Four Seasons Cuisine
529                                  The Flying Machine
397                                         Black Horse
400                                    Blacksmiths Arms
395                  Biggin Hill Social And Sports Club
511                                   The Aperfield Inn

[3705 rows x 1 columns]